body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 150px;
}

.search {
  position: absolute;
  right: 50px;
}

header {
  background-color: #ffffff;
  position: relative;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 2em;
}

article {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
}

p {
  line-height: 1.5;
}

footer {
  background-color: #444;
  padding: 20px;
  text-align: center;
}
