.logo {
  display: block;
  margin: 0 auto;
  width: 150px;
}

header {
  background-color: #ffffff;
  position: relative;
  color: #fff;
  padding: 20px;
}

.navbar {
  background-color: #C5DFF8;
}

article {
  margin-bottom: 20px;
}

footer {
  background-color: #444;
  padding: 20px;
  text-align: center;
}
